.input-custom {
  min-width: 200px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 0 12px;

  input {
    height: 32px;
    background-color: transparent;
    border: none;
    color: #fff;
    margin-left: 7px;
    width: 150px;

    &::placeholder {
      color: #fff;
      opacity: 1;
    }
  }
}