.w-sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: calc(100% - 44px);
  z-index: 5;
  transform: translate3d(0, 0, 0);
  transition: transform 100ms ease-in;
  width: 260px;
  border-right: 1px solid var(--dynamic-text-color-transparent, #DFE1E6);
  background-color: var(--dynamic-background-color-transparent, var(--ds-surface, #FAFBFC));

  .__top {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 14px 12px 14px;
    height: 70px;
    border-bottom: 1px solid var(--dynamic-text-color-transparent, #DFE1E6);
  }

  .__middle {
    height: 100%;
  }

  .__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 14px 12px 14px;
    height: 60px;
    border-top: 1px solid var(--dynamic-text-color-transparent, #DFE1E6);
  }

  .icon-name {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #F4F5F7;
    overflow: hidden;
    font-size: 20px;
  }

  .work-space-sub {
    padding: 6px 8px 6px 16px;
    font-size: 14px;
  }
}

.w-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  overflow-y: auto;
  padding-left: 260px;
}