.menu {
  backdrop-filter: blur(6px);
  max-height: 44px;
  padding: 6px 4px;
  transition: background-color 300ms;
  border-bottom: 1px solid var(--dynamic-text-color-transparent);
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  font-size: 14px;

  ul {
    list-style-type: none;
    line-height: 32px;
    padding-left: 0;
    display: flex;
    margin-bottom: 0;
  }

  li {
    padding: 0 14px 0 13px;
    border-radius: 3px;
    cursor: pointer;

    span {
      margin-right: 6px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    svg {
      margin-bottom: 6px;
    }
  }

  button {
    margin-left: 8px;
    background-color: rgba(0, 0, 0, 0.3);;
    height: 32px;
    line-height: 32px;
    margin-right: 4px;
    padding: 0 12px;
    white-space: nowrap;
    color: #fff;
    border: 0;
    border-radius: 3px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.icon {
  fill: var(--icon-secondary-color);
  line-height: 32px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.logo {
  width: 87px;
  height: 32px;
  padding: 0 6px;
  margin: 0;
  opacity: 1;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.logo-detail {
  width: 75px;
  height: 32px;
  position: relative;

  &::before,
  &::after {
    content: '';
    background-image: url('../../assets/img/logo.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &:hover {
    &::before,
    &::after {
      background-image: url('../../assets/img/logo-loading.gif');
      opacity: 1;
    }
  }
}

.menu-detail {
  display: flex;
  flex-basis: 100%;
}

.btn-custom {
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  color: #fff;
  width: 32px;
  line-height: 32px;
  text-align: center;
  margin-left: 4px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  svg {
    margin-bottom: 4px;
  }
}