$color: #026AA7;

.bg-default {
  background-color: $color;
}

.color-default {
  color: $color;
}

button {
  outline: none !important;
}

.bg-0 {
  background: linear-gradient(#006644, #00875a);
}

.bg-1 {
  background: linear-gradient(#070066, #008387);
}

.bg-2 {
  background: linear-gradient(#663300, #878500);
}

.bg-3 {
  background: linear-gradient(#66001b, #871400);
}

.bg-4 {
  background: linear-gradient(#136600, #871900);
}

.bg-5 {
  background: linear-gradient(#160066, #510087);
}

.bg-6 {
  background: linear-gradient(#166600, #874d00);
}

.bg-7 {
  background: linear-gradient(#4d0066, #870019);
}
.bg-8 {
  background: linear-gradient(#00664b, #872900);
}

.bg-9 {
  background: linear-gradient(#663a00, #00664b);
}

.title {
  align-items: center;
  color: var(--ds-text-subtle,#5e6c84);
  display: flex;
  flex: 1;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #cbcbcb6e;
}

.nav-link-custom {
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #000000;
    text-decoration: none;
  }
}