.navbar-item {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: none;
  color: var(--ds-link,#172b4d);
  display: flex;
  font-weight: bold;
  margin-bottom: 4px;
  min-height: 20px;
  overflow: hidden;
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  cursor: pointer;

  i {
    margin-right: 8px;
    width: 16px;
  }

  &.active {
    background-color: var(--ds-background-selected, #E4F0F6);
    color: var(--ds-text-selected, #0079BF);
  }

  &:not(.active) {
    &:hover {
      background-color: var(--ds-background-neutral-hovered, rgba(9, 30, 66, 0.08));
      color: var(--ds-text-subtle, inherit);
    }
  }
}