.work-space-tables {
  .icon-name {
    font-size: 20px;
    height: 32px;
    width: 32px;
    border-radius: 3px;
  }

  .__name {
    font-size: 16px;
    line-height: 32px;
  }

  .work-space-sub {
    background-color: var(--ds-background-neutral,#091e420a);
    border: none;
    border-radius: 3px;
    box-shadow: none;
    color: var(--ds-text,inherit);
    display: inline-block;
    margin-bottom: 8px;
    margin-left: 8px;
    padding: 6px 12px 6px 6px;
    position: relative;
    text-decoration: none;

    &:hover {
      background-color: var(--ds-background-neutral-hovered,#091e4214);
      border: none;
      box-shadow: none;
      color: var(--ds-text,inherit);
      text-decoration: none;
    }
  }
}

.add-tables {
  background-color: var(--ds-background-neutral,#091e420a);
  display: table-cell;
  font-weight: 400;
  height: 96px;
  text-align: center;
  transition-duration: 85ms;
  transition-property: background-color,border-color,box-shadow;
  transition-timing-function: ease;
  vertical-align: middle;
  width: inherit;
  line-height: 20px;
  padding: 18px 42px;
  position: relative;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: var(--ds-background-neutral-hovered,#091e4214);
  }
}
