.modal {
  .__right {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/create-team/wavy-border.df0d81969c6394b61c0d.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    padding-top: 112px;
    position: relative;
    min-height: 500px;
  }

  .btn-close {
    position: absolute;
    top: 30px;
    right: 20px;
  }

  .__left {
    margin: 64px auto 16px;
    justify-content: center;
    display: flex;
    flex: 1;
  }

  .__title {
    color: var(--ds-text, #091E42);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 28px;
    display: block;
    margin-bottom: 12px;
  }

  .__description {
    font-size: 18px;
    color: var(--ds-text-subtle, #6B778C);
    margin: 12px auto 24px;
  }

  .__label {
    margin-top: 24px;
    color: var(--ds-text, #091E42);
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 4px;
  }

  .__input {
    height: 48px;
    margin-bottom: 6px;
  }

  input,
  textarea {
    -webkit-appearance: none;
    background-color: var(--ds-background-input,#fafbfc);
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px var(--ds-border-input,#dfe1e6);
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    outline: none;
    padding: 8px 12px;
    transition-duration: 85ms;
    transition-property: background-color,border-color,box-shadow;
    transition-timing-function: ease;
    width: 100%;
    resize: none;
  }

  .__note {
    color: var(--ds-text-subtle, #6B778C);
    font-size: 12px;
    margin-bottom: 12px;
  }

  .__select {
    -webkit-box-align: center;
    align-items: center;
    border-radius: 3px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 36px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    border: none;
    height: 36px;
    padding: 8px 12px;
    outline: 0 !important;
    width: 100%;
    background-color: var(--ds-background-input,#fafbfc);
    box-shadow: inset 0 0 0 2px var(--ds-border-input,#dfe1e6);

  }

  .__button {
    background-color: var(--ds-background-disabled, rgba(9, 30, 66, 0.04));
    box-shadow: none;
    border: none;
    color: var(--ds-text-disabled, #a5adba);
    height: 48px;
  }

  .not-allowed {
    cursor: not-allowed;
  }
}

.modal-content {
  border-radius: 0 !important;
}