.icon-name {
  background: linear-gradient(#006644, #00875a);
  font-size: 14px;
  border-radius: 2px;
  height: 21px;
  width: 21px;
  margin-right: 6px;
  flex: 0 0 auto;
  color: #fff;
}

.work-space-sub {
  padding: 6px 8px 6px 28px;
  margin-top: 8px;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;

  i {
    margin-right: 8px;
  }

  &:hover {
    background-color: var(--ds-background-neutral-hovered, rgba(9, 30, 66, 0.08));
  }
}

.work-space {
  .__title {
    padding: 12px 0 12px 8px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: var(--ds-background-neutral-hovered, rgba(9, 30, 66, 0.08));
    }
  }
}