.work-space {
  border-top: 1px solid var(--ds-surface, rgba(0, 0, 0, 0.1));
  color: var(--ds-text-subtle, #5e6c84);
  padding-top: 12px;
  padding-bottom: 40px;
  overflow-y: auto;
  max-height: calc(100vh - 200px);

  .__header {
    font-size: 12px;
    justify-content: space-between;
    padding: 6px 0 6px 8px;
  }

  button {
    background-color: transparent;

    &:hover {
      background-color: var(--ds-background-neutral-hovered, rgba(9, 30, 66, 0.08));
    }
  }
}